version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: "npm"
    directory: "examples/nextjs/"
    schedule:
      interval: "monthly"
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: "npm"
    directory: "packages/fetch/"
    schedule:
      interval: "monthly"
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: "npm"
    directory: "packages/render/"
    schedule:
      interval: "monthly"
    groups:
      all:
        patterns:
          - "*"
